<%= link_to "New Recipe", new_recipe_path %>
<br><br>
<h2>Grandma's Recipes</h2>
<p>Your source for all of your favorite recipes!</p>
<br><br>
<ul>
  <% @recipes.each do |recipe| %>
    <li><%= link_to recipe.title, recipe %></li>
  <% end %>
</ul>
